body
{
    margin: 0;
}
.wrap
{
    height: 500px;
    width: 500px;
    margin: auto;
    position: relative;
    background-color: green;
}

.box
{
 position: absolute;
 margin: auto;
 top: 0px;
 left: -10px;
 height: 200px;
 width: 200px;
 background-color: red;

}