<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/hotelapp/">View List of Hotels</a>

<div>
    <form action="hotelapp/add" method="POST">
        Name <input type="text" name="name"><br>
        City <input type="text" name="city"><br>
        Cuisine <input type="text" name="cuisine"><br>
        Rating<input type="text" name="rating"><br>
        <input type="text" value="SUBMIT">
    </form>
</div>
