<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">

</head>

<body>
    <div class="wrap">
        <header>
            <div class="flex-items box-header">
                <h3>Box Header</h3>
            </div>
        </header>

        <div class="box-nav">
            <h3>Box Nav bar</h3>
        </div>

        <div class="middle-container">

            <div class="flex-items box-side-left">
                <h3>Box Side Left</h3>
            </div>
            <div class="flex-items box-main-content">
                <h3>Box Main Content</h3>
            </div>
            <div class="flex-items box-side-right">
                <h3>Box Side right</h3>
            </div>

        </div>

        <Footer>
            <div class="flex-items box-footer">
                <h3>Box Footer</h3>
            </div>
        </Footer>

    </div>

</body>

</html>