.nav {
  display: flex;
  justify-content: space-around;
  height: 3em;
  background-color: lightgrey;
}

.m-card {
  display: flex;
  flex-direction: column;
  width: 30em;
  background-color: lightcyan;
  margin: 0.3em;
}
