$navHeight: 64px;

.chat-module {
    width: 360px;
    margin: 20px auto;
  }
  
  .chat-top-bar {
    background: #6200ee;
    color: white;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;
    h1 {
      display: inline;
      font-size: 1.1rem;
    }
    .chat-icon-message {
      display: inline-block;
      padding: 4px 5px 2px 5px;
    }
    .chat-minimize {
      position: relative;
      top: 3px;
    }
    .left {
      float: left;
    }
    .right {
      float: right;
      padding-top: 5px;
    }
    > * {
      position: relative; 
    }
    &::before {
      content: "";
      position: absolute;
      top: -100%;
      left: 0;
      right: 0;
      bottom: -100%;
      opacity: 0.25;
      background: radial-gradient(white, black);
      animation: pulse 1s ease alternate infinite;
    }
  }
  
  .discussion {
    list-style: none;
    background: #e5e5e5;
    margin: 0;
    padding: 0 0 50px 0; 
    height: auto; 
    max-height: 560px; 
    overflow-y: auto; 
    overflow-x: hidden;
    li {
      padding: 0.5rem;
      overflow: hidden;
      display: flex;
      height: auto;
    }
    .avatar {
      width: 40px;
      position: relative; 
      img {
        height: 2.5em;
        display: block; 
        width: 40%;
      }
    }
  }
  
  .other {
    .messages {
      order: 1;
      border-bottom-right-radius: 0; 
      background: rgb(176, 241, 170);
    }
    .avatar {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border: 5px solid white;
        border-left-color: transparent;
        border-bottom-color: transparent;
      }
    }
  }
  
  .self {
    justify-content: flex-end;
    align-items: flex-end;
    .messages {
      order: 1;
      border-bottom-right-radius: 0; 
      background: rgb(173, 202, 230);
    }
    .avatar {
      order: 2;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0;
        border: 5px solid white;
        border-right-color: transparent;
        border-top-color: transparent;
        box-shadow: 1px 1px 2px rgba(black, 0.2); 
      }
    }
  }
  
  .messages {   
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(black, 0.2);
    p {
      font-size: 0.8rem;
      margin: 0 0 0.2rem 0;
      word-break: break-all;
    }
    time {
      font-size: 0.7rem;
      color: #ccc;
    }
  }

  .chat-text-field-margin {
    margin-top: 0 !important;
    width: 100% !important;
  }


@media (max-width: 600px) {
  .chat-text-field-margin:after {
    width: auto !important;
  }
}


  .chatMessageTimestamp {
    font-style: italic; 
    position: inherit; 
    right: 10px; 
    bottom: 3px; 
    font-size: 8px; 
    margin-left: 15px;
  }

  #notifyTyping {
    font-size: 12px;
    position: absolute;
    bottom: 42px;
    width: 100%;
    padding: 5px;
}
.chatNotificationCount {
    color: #FFF;
    display: none;
    float: right;
    border-radius: 12px;
    border: 1px solid #2E8E12;
    background: #34BB0C;
    padding: 2px 6px;
}

.onlineUsersContainer {
  width: 20%;
  float: left;
  background-color: rgb(225, 203, 245);
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.onlineUsersContainer ul li {
  list-style-type: none;
  cursor: pointer;
  margin: 0;
  padding: 2px;
  box-shadow: 0px 2px 1px #C28FF1;
  border-radius: 2px;
}

.onlineUsersContainer ul li.active {
  background: rgba(211, 176, 243, 0.92);
}
.onlineUsersContainer ul li:hover {
  background: rgb(214, 187, 239) 
}
  
  @keyframes pulse {
    from { opacity: 0; }
    to { opacity: 0.5; }
  }
