   <div id="post-{{id}}" >
      <span class="btn-right" >Edit</span>
      <span class="btn-delete" > Delete</span>
        <div class="post-block">
            <span class="flowerInfo"><strong>Id: </strong>{{id}}</span>
            <span class="flowerInfo"> <strong>Name: </strong> {{title}}</span>
            <span class="flowerInfo"> <strong>Body: </strong> {{body}}</span>
        </div>
    </div>