@mixin flexScreen($input) {
    flex:1 0 $input !important;
    max-width: $input;
}
@mixin textprop($fontSize,$fontColor) {
    text-align: $text-align;
    font-weight:  $font-weight;
    text-decoration: none;
    white-space: normal;
    color:$fontColor;
    font-size: $fontSize; 
}
@mixin flexDirection($input) {
    flex-direction:$input;
}
@mixin roundedborder($radius:0.9em) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin clearfix() {
    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }