$fa-font-path: '~font-awesome/fonts';
@import "@material/button/mdc-button";
@import "@material/fab/mdc-fab";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/dialog/mdc-dialog";
@import "@material/textfield/mdc-text-field";
@import '~font-awesome/scss/font-awesome.scss';
@import "~bootstrap/scss/bootstrap";
@import "_variable.scss";
@import "_login.scss";
@import "_layout.scss";
@import "_mixin.scss";
@import "toaster-js/default.scss";
/* Absolute Center Spinner */

.foo-button {
  @include mdc-button-ink-color(teal);
  @include mdc-states(teal);
}

.mdc-text-field__input {
  padding: 0px;
}

.editTopicBtn, .deleteTopicBtn{
  cursor: pointer;
}

#topicListWrapper{
  background-color: rgba(55,55,55, .1);
  border-radius: 10px;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */

.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */

.loading:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* spinner end here */

#rightHead {
  a {
    width: auto;
  }
  img {
    width: 50px;
    border-radius: 50%;
  }
}

#loginWithGoogle {
  background: #bb0000 !important;
}

/* social link*/

.social-link li,
.social-login a {
  display: inline-block;
  width: 37px;
  border-radius: 50%;
  margin-right: 5px;
  padding: 4px;
  @include textprop(20px, $white);
}

.social-link li:nth-child(1) {
  background: #3b5998;
}

.social-link li:nth-child(2) {
  background: #00aced;
}

.social-link li:nth-child(3) {
  background: #bb0000;
}

.social-link li:nth-child(4) {
  background: #007bb6;
}

.social-link li:nth-child(5) {
  background: #cb2027;
}

.footer-box-section {
  flex: 1 0 32%;
  max-width: 32%;
  border-radius: $border-radius;
  text-align: $text-align;
}



img.logo {
  max-width: 2rem;
}

.about-text {
  background-color: whitesmoke;
  color: black;
  @include roundedborder;
  padding: 0.5rem;
}

#mainContainer {
  height: 80vh;
  overflow: auto;
}

.btn-color {
  color: white !important;
}

.copyright {
  border-top: 1px solid #eee;
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
}

/* this is applied when the screen size exceeds 991px */

@media screen and (min-width: 991px) {}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 0.25rem;
    line-height: 1.4;
  }
}

@media (max-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 0.25rem;
    line-height: 1.4;
  }
}

.roundedCorner {
  @include roundedborder;
}

// Dashboard
input[name=search1] {
  width: 330px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */

input[name=search1]:focus {
  width: 100%;
}

.hide {
  display: none;
}

// Wizard Steps
@keyframes size-shrink_0 {
  0% {
    -webkit-transform: scaleX(0.7) scaleY(0.4);
    height: 200px;
  }
  100% {
    -webkit-transform: scaleX(0.4) scaleY(0.2);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    height: 100px;
    filter: blur(10px);
    -webkit-filter: blur(10px);
  }
}

.size-shrink_0 {
  // position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-name: size-shrink_0;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-name: size-shrink_0;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes size-shrink_1 {
  0% {
    -webkit-transform: scaleX(0.9) scaleY(0.6);
    height: 270px;
  }
  100% {
    -webkit-transform: scaleX(0.7) scaleY(0.4);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    height: 200px;
    filter: blur(6px);
    -webkit-filter: blur(6px);
  }
}

.size-shrink_1 {
  // position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-name: size-shrink_1;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-name: size-shrink_1;
  animation-duration: 0.1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes size-shrink_2 {
  0% {
    -webkit-transform: scale(1);
    height: 400px;
  }
  100% {
    -webkit-transform: scaleX(0.9) scaleY(0.6);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    height: 270px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
}

.size-shrink_2 {
  // position:relative;
  animation-fill-mode: forwards;
  -webkit-animation-name: size-shrink_2;
  -webkit-animation-duration: .1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-name: size-shrink_2;
  animation-duration: .1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes normal {
  0% {
    -webkit-transform: scaleX(0.9) scaleY(0.6);
  }
  100% {
    -webkit-transform: scale(1);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    height: 440px;
    filter: blur(0px);
    -webkit-filter: blur(0px);
  }
}

.normal {
  position: relative;
  animation-fill-mode: forwards;
  -webkit-animation-name: normal;
  -webkit-animation-duration: .1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-name: normal;
  animation-duration: .1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes size-grow_2 {
  0% {
    -webkit-transform: scaleX(0.7) scaleY(0.4);
  }
  100% {
    -webkit-transform: scaleX(0.9) scaleY(0.6);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    height: 270px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
  }
}

.size-grow_2 {
  position: relative;
  animation-fill-mode: forwards;
  -webkit-animation-name: size-grow_2;
  -webkit-animation-duration: .1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-name: size-grow_2;
  animation-duration: .1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes size-grow_1 {
  0% {
    -webkit-transform: scaleX(0.4) scaleY(0.2);
  }
  100% {
    -webkit-transform: scaleX(0.7) scaleY(0.4);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    height: 200px;
    filter: blur(6px);
    -webkit-filter: blur(6px);
  }
}

.size-grow_1 {
  position: relative;
  animation-fill-mode: forwards;
  -webkit-animation-name: size-grow_1;
  -webkit-animation-duration: .1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  animation-name: size-grow_1;
  animation-duration: .1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.good {
  animation: anim .3s ease-in-out;
}

@keyframes anim {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 20px 0;
}

// #wizardStep1 {
//   margin-top: 60px;
// }
.subject-pills {
  margin-top: 30px;
  width: 200px;
  height: 70px;
  background: rgba(253, 1, 1, 0.5);
  border-radius: 7px;
  color: white;
  margin: auto;
  font-weight: bolder;
  font-size: 1.3em;
  vertical-align: baseline;
  text-align: center;
  line-height: 70px;
  overflow: hidden;
}

#subject-pills-2,
#subject-pills-3 {
  display: flex;
}

.subject-pills:hover,
.clickPill {
  background: rgb(255, 0, 0);
  cursor: pointer;
  overflow: hidden;
}

.messages {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 25px;
}

.message {
  color: whitesmoke;
}

#qgModalContent{
  margin: auto;
  width: 1500px;
}

#confirmQESubmitModalContent {
  width: 1000px;
  margin: auto;
}
// SPINNER
.qgloading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background: rgba(55, 55, 55, 0.7);
}
.lds-ellipsis {
  display: inline-block;
  position: fixed;
  left: 50%;
  top: 50%;
}
.lds-ellipsis div {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

// Auto Complete feature
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  margin-left: 50px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    line-height: 2.5em;
    width: 65%;
  }
  div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

div.topicNotFound {
  position: absolute;
  border: 1px solid blue;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  background-color: blue;
  color: white;
  line-height: 4em;
  border-radius: 0 0 9px 9px;
  padding: 10px;
  cursor: pointer;
  width: 65%;
}

div.topicNotFound:hover {
  /*when hovering an item:*/
  background-color: rgb(55,55,55);
  color: white;
}

.blinking{
  animation:blinkingText 0.8s infinite;
  color: cyan;
}
@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: transparent; }
  50%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}

.editableInput {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: red;
  background-color: -moz-field;
  // border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;  
  font: -moz-field;
  font: -webkit-small-control;
  // margin-top: 5px;
  // padding: 2px 3px;
  // width: 250px;   
  // height: 70px; 
}

// OVERRIDES
.form-group {
  margin-bottom: 0;
}

.modal-dialog {
  max-width: initial;
}

.topicButton {
  margin-bottom: 10px;
  width: 300px;
  height: 45px;
  background-color: blue;
  color: whitesmoke;
  border: none
}

.questionTable {
  background-color: rgba(55, 55, 55, 0.7);
  color: white;
}

.marginLeft {
  margin-left: 150px;
}

.marginLeft-small {
  margin-left: 20px;
  width: 130px;
  text-align: center;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

#topicInputautocomplete-list {
  margin-left: 46px;
  margin-top: 3px; // width: 75%;
}

.alert {
  line-height: 4em;
}
